<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Cortical Projection Neuron Transcriptome{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">

    <!-- Google Analytics Tracking -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-318359-7', 'harvard.edu');
    ga('send', 'pageview');

    </script>
    <!-- End Google Analytics Tracking -->

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <!-- GeneSet styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/gene_set.css">

    <!-- javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>

    <!-- bootstrap ui -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- modal support -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easyModal.js"></script>

    <!-- cookie support -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>

    <!-- plotting -->
    <script src="{{ STATIC_URL }}js/d3.v3.js"></script>

    <!-- GeneSet functionality -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/gene_set.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  {% block header %}
  {% endblock header %}

  </head>
  <body>
  	<nav class="navbar navbar-inverse" role="navigation">
  		<a class="navbar-brand" href="#">Cortical Transcriptome</a>
  		<ul class="nav navbar-nav">
      		<li><a href="{% url 'pyramidal.views.index' %}">Home</a></li>
          <li><a href="{% url 'gene_index' %}">All Genes</a></li>
          <li><a href="{% url 'cluster_index' %}">Clusters</a></li>
          <li><a href="{% url 'tfbs' %}">TFBS</a></li>
          <li><a href="{% url 'markers' %}">Marker Discovery</a></li>
          <li><a href="{% url 'supplement' %}">Supplement</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search" action="/pyramidal/search/" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Gene name or Locus" name="q">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a id="gene_set_dropdown_label" href="#" data-toggle="dropdown" class="dropdown-toggle">Gene Set <span class="caret"></span></a>
          <ul class="dropdown-menu" id="gene_set_dropdown" role="menu" aria-labelledby="gene_set_dropdown_label">
            <li id="gene_set_dropdown_view_link"><a href="#">View</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#">Empty</a></li>
          </ul>
        </li>
      </ul>
  	</nav>
  	<div class="container">
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>
