{% extends 'pyramidal/geneBase.html' %}

	{% block header %}
	<style>
    .slice text {
      font-size: 12pt;
      font-family: Arial;
    }
		.chart rect {
			stroke: white;
	    fill: steelblue;
		}

		.axis {
	    shape-rendering: crispEdges;
		}

    .axis text {
            font-size: 12px;
        }

		.x.axis line {
		    stroke: black;
		}

    .x.axis text {
        transform: rotate(15deg);
        -ms-transform: rotate(15deg); /* IE 9 */
        -webkit-transform: rotate(15deg); /* Safari and Chrome */

    }
    .errorbar {
        stroke: #333;
        stroke-width:1.5px;
    }

		.y.axis line {
		    stroke: black;
		}

    #hive {
      #float:left;
    }

    #info{
      float:right;
    }

		.hivearc {
		  fill-opacity: .2;
		}

		.hiveaxis{
		  stroke: #bbb;
		  stroke-width: 5px;
		  #stroke-linecap: square;
		}
    .link {
      fill: none;
      stroke: #999;
      stroke-width: 2px;
      stroke-opacity: .3;
    }

    .active {
      fill: none;
      stroke: #f00;
      stroke-width: 3px;
      stroke-opacity: 1;
    }

    .hivenode circle {
        stroke: #000;
    }
    .hivenode circle .active {
      stroke: red;
      stroke-width: 3px;
    }



	</style>
	<!--<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>-->

  <!-- #Sunburst imports -->
  <link rel="stylesheet" href="{{ STATIC_URL }}js/sunburst/jquery-ui-1.10.0/css/ui-lightness/jquery-ui-1.10.0.custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}js/sunburst/stylesheets/examples.css">
    <link href="http://www.brain-map.org/external_assets/stylesheets/portal.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="http://www.brain-map.org/external_assets/javascripts/portal.js" type="text/javascript"></script>
  <script type="text/javascript">
    var _pImagePath = "http://www.brain-map.org/external_assets/portal_only/images/";   // location of plugin image assets (must end with a "/")
  </script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/jquery-ui-1.10.0/js/jquery-1.9.0.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/javascripts/jquery.ie.cors.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/javascripts/modernizr.svg.js"></script>
  <!--#end of sunburst imports-->

  {% endblock header %}

	{% block navleft%}
 	<h5>{{ gene.gene_id }}</h5>
 	<h6>Isoforms</h6>
		<ul>
		{% for isoform in gene.isoforms %}
			<li><a href="{% url 'pyramidal.views.isoformDetail' isoform.isoform_id %}">{{isoform.isoform_id}}</a></li>
		{% endfor %}
		</ul>
  <h6>Resources</h6>
    <ul>
      <li><a href="#accordion">Cortical Subtype Expression</a></li>
      <li><a href="#accordion">Cortical Subtype Expression</a></li>
      <li><a href="#accordion">Allen Brain Images</a></li>
    </ul>
	<h6>External Links</h6>
		<ul>
			<li><a href="http://developingmouse.brain-map.org/search/show?page_num=0&page_size=8&no_paging=false&exact_match=false&search_term={{ gene.gene_short_name }}&search_type=gene" target="_blank">Developing Mouse Brain - Allen</a></li>
			<li><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?org=mouse&db=mm9&position={{ gene.locus }}" target="_blank">UCSC Genome Browser</a></li>
		</ul>

	{% endblock navleft %}

	{% block main %}
	<!-- genePie -->


	<h1>{{ gene.gene_short_name }}</h1>
		<h3>Locus</h3>
		<a href="http://genome.ucsc.edu/cgi-bin/hgTracks?org=mouse&db=mm9&position={{ gene.locus }}" target="_blank">{{ gene.locus }}</a>
  </br>
    <!--
		<h3>Number of Isoforms</h3>
		{{ gene.isoforms|length }}

		<h3>Number of TSS</h3>
		{{ gene.promoters|length }}
  -->
  <div class="panel panel-default">
  <div class="panel-heading"><h4>Expression Distribution</h4></div>
  <div class="panel-body">
     <!--<div id="piechart" style="visibility:hidden"></div>-->
     <div id="barchart"></div>

 <!--<table class="table table-hover table-condensed" style="visibility:hidden">
    <tr>
      {% for sampleName in gene.expression.keys %}
      <th>{{sampleName}}</th>
      {% endfor %}
    </tr>
    <tr>
      {% for key,fpkm in gene.expression.items %}
      <td>{{fpkm.fpkm}}</td>
      {% endfor %}
    </tr>

  </table>
  end of FPKM table -->
  </div>
  </div>
	<div class="panel panel-default">
  <div class="panel-heading"><h4>Differential Analysis</h4></div>
  <div class="panel-body">

		  <div class="media">
        <!--<input style="position:relative;top:3px;" type="range" min="0" max="4" value="3">-->
        <a class="pull-left" href="#">
          <div id="hive"></div>
        </a>
        <div class="media-body pull-left" id="info">
        </div>
      </div>
	</div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading"><h4>Allen Brain Map - Expression</h4></div>
      <div id="errorDialog" title="API Query Error"></div>
      <div class="panel-body" id="content">

        <div class="media" id="sunburst"></div>
        <div class="media-body">

          <table id="visProperties">
          <tr>
          <td>Structure:</td>
          <td><div id="structureLabel"></div></td>
          </tr>

          <tr><td class="hrule" colspan=2></td></tr>

          <tr>
          <td>Expression Energy:</td>
          <td><div id="expressionLabel"></div></td>
          </tr>

          <tr><td class="hrule" colspan=2></td></tr>

          <tr>
          <td>Scale By:</td>
          <td>
            <div id="scaleButtons"></div>
          </td>
          </tr>

        </table>
        </div>
      </div>
      <div class="list-group">
          {% for sunburstId in sunburstIds %}
            <a href="?id={{sunburstId}}" class="list-group-item">{{ sunburstId }}</a>
          {% endfor %}
      </div>
  </div>

  <!-- #Allen Brain Images -->
  <div class="panel-group" id="accordion">
  <h4>Allen Brain Images - Developing Mouse</h4>
  {% for section in sectionData.msg %}
    <div class="panel panel-default">
    <div class="panel-heading">
      <h5>
      <a data-toggle="collapse" data-parent="#accordian" href="#Allen{{section.id}}">
        SectionDataSet {{ section.id }}: {% with section.genes|first as firstGene %}{{firstGene.acronym}}{% endwith %} {{section.specimen.donor.age.name}}
        {% if section.plane_of_section_id == 1 %}
          Coronal
        {% elif section.plane_of_section_id == 2 %}
          Sagittal
        {% endif %}
        </a>
        </h5>
        <a href="http://developingmouse.brain-map.org/experiment/show/{{section.id}}" target="_blank">(Link to Allen Brain Explorer)</a>
    </div>
    <div id="Allen{{section.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
        {% for image in section.section_images %}
        <div class="media">
          <a class="pull-left" href="#">
            <img src="http://api.brain-map.org/api/v2/section_image_download/{{ image.id }}?downsample=5">
          </a>

          <div class="media-body">
            <h5 class="media-heading">Image Id:{{ image.id }}</h5>
            Section Number: {{ image.section_number }}
          </div>
        </div>
        {% endfor %}
        </ul>
      </div>
    </div>
    </div>
  {% endfor %}
</div>

	<!-- D3.js scripts -->
	<script type="text/javascript">

    var w = 300,                        //width
    h = 300,                            //height
    r = 100,                            //radius
    color = d3.scale.category20c();     //builtin range of colors

    var data = {{ gene.expressionJson|safe }};

    var pievis = d3.select("#piechart")
    	//.selectAll('svg')
        .append("svg:svg")
        .data([data])                   //associate our data with the document
            .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
            .attr("height", h)
        .append("svg:g")                //make a group to hold our pie chart
            .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

    var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
        .outerRadius(r);

    var pie = d3.layout.pie()           //this will create arc data for us given a list of values
        .value(function(d) { return d.fpkm; });    //we must tell it out to access the value of each element in our data array

    var arcs = pievis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
        .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties)
        .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
            .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
                .attr("class", "slice");    //allow us to style things in the slices (like text)

        arcs.append("svg:path")
                .attr("fill", function(d, i) { return color(i); } ) //set the color for each slice to be chosen from the color function defined above
                .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function

        arcs.append("svg:text")                                     //add a label to each slice
                .attr("transform", function(d) {                    //set the label's origin to the center of the arc
                //we have to make sure to set these before calling arc.centroid
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
            })
            .attr("text-anchor", "middle")                          //center the text on it's origin
            .text(function(d, i) { return data[i].sample_name; });        //get the label from our original data array
	</script>
	<script src="http://d3js.org/d3.hive.v0.min.js"></script>
	<script>
	//Bar plot script
var
	data = {{ gene.expressionJson|safe }},
	samples = ['E15_cpn','E16_cpn','E18_cpn','P1_cpn','E15_subcereb','E16_subcereb','E18_subcereb','P1_subcereb','E15_corticothal','E16_corticothal','E18_corticothal','P1_corticothal'],
	chart,
	bars,
	margin = 100,
	barWidth = 25,
	h = 400,
	width = 800,
	x, y,
	xAxis, yAxis;

chart = d3.select( '#barchart' ).append( 'svg:svg' )
    .attr( 'class', 'chart' )
    .attr( 'width', width )
    .attr( 'height', h )
    .append('g');

d3.select('svg g')
    .attr('transform', 'translate(50, 50)');

x = d3.scale.ordinal()
	.domain(samples)
	.rangeBands([0, width-margin]);

y = d3.scale.linear()
    .domain( [0, d3.max( data, function( d ) { return d.conf_hi; } )] )
    .rangeRound( [0, h - margin] );

// Bars
bars = chart.append('g')
    .attr('class', 'bars');

bars.selectAll( 'rect' )
    .data( data )
  .enter().append( 'rect' )
    .attr( 'x', function( d, i ) { return x( d.sample_name ) + 17; } )
    .attr( 'y', function( d ) { return (h - margin) - y( d.fpkm ) + .5 } )
    .attr( 'width', barWidth )
    .attr( 'height', function( d ) { return y( d.fpkm ) } )
    .append('g');

// lines
errorbars = chart.append('g')
      .attr('class','errorbars');
topmarks = chart.append('g')
      .attr('class','errorbars');
bottommarks = chart.append('g')
      .attr('class','errorbars');

errorbars.selectAll('line')
      .data( data )
    .enter().append('line')
      .attr("class","errorbar")
      .attr( 'x1', function(d,i) { return x(d.sample_name) + 17 + (barWidth/2);})
      .attr( 'x2', function(d,i) { return x(d.sample_name) + 17 + (barWidth/2);})
      .attr( 'y1', function( d ) { return (h - margin) - y( d.conf_lo ) + .5 } )
      .attr( 'y2', function( d ) { return (h - margin) - y( d.conf_hi ) + .5 } );

topmarks.selectAll('line')
      .data( data )
    .enter().append('line')
      .attr("class","errorbar")
      .attr( 'x1', function(d,i) { return x(d.sample_name) + 17 + (barWidth/4);})
      .attr( 'x2', function(d,i) { return x(d.sample_name) + 17 + 3*(barWidth/4);})
      .attr( 'y1', function( d ) { return (h - margin) - y( d.conf_hi ) + .5 } )
      .attr( 'y2', function( d ) { return (h - margin) - y( d.conf_hi ) + .5 } );

bottommarks.selectAll('line')
      .data( data )
    .enter().append('line')
      .attr("class","errorbar")
      .attr( 'x1', function(d,i) { return x(d.sample_name) + 17 + (barWidth/4);})
      .attr( 'x2', function(d,i) { return x(d.sample_name) + 17 + 3*(barWidth/4);})
      .attr( 'y1', function( d ) { return (h - margin) - y( d.conf_lo ) + .5 } )
      .attr( 'y2', function( d ) { return (h - margin) - y( d.conf_lo ) + .5 } );


// Axis
xAxis = d3.svg.axis()
    .scale(x)
    .ticks(20)
    .tickSize(6, 3, 1);

yAxis = d3.svg.axis()
    .scale(d3.scale.linear().domain( [0, d3.max( data, function( d ) { return d.conf_hi; } )] ).rangeRound( [h - margin, 0] ))
    .tickSize(6, 3, 1)
    .orient('left');

chart.append('g')
    .attr('class', 'x axis')
    .attr('transform', 'translate(0, ' + (h - margin) + ')')
    .call(xAxis);

chart.append('g')
    .attr('class', 'y axis')
    .attr('transform', 'translate(' + x.range()[0] + ')')
    .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("FPKM");

function type(d) {
  d.value = +d.value; // coerce to number
  return d;
}

	</script>
	<script>
// 	// Hive plot for differential data

// var width = 280,
//     height = 300,
//     innerRadius = 20,
//     outerRadius = 120;

// var angle = d3.scale.ordinal().domain(d3.range(4)).rangePoints([0, 2 * Math.PI]),
//     radius = d3.scale.linear().range([innerRadius, outerRadius]),
//     color = d3.scale.category20c().domain(d3.range(20));

// var links = [
//   {source: {x: 0, y0: 0.9, y1: 1.0}, target: {x: 1, y0: 0.5, y1: 1.0}, group:  0},
//   {source: {x: 0, y0: 0.7, y1: 0.9}, target: {x: 1, y0: 0.4, y1: 0.5}, group:  1},
//   {source: {x: 0, y0: 0.4, y1: 0.7}, target: {x: 1, y0: 0.2, y1: 0.4}, group:  2},
//   {source: {x: 0, y0: 0.0, y1: 0.4}, target: {x: 1, y0: 0.0, y1: 0.2}, group:  3},
//   {source: {x: 1, y0: 0.8, y1: 1.0}, target: {x: 2, y0: 0.5, y1: 1.0}, group:  4},
//   {source: {x: 1, y0: 0.5, y1: 0.8}, target: {x: 2, y0: 0.2, y1: 0.5}, group:  5},
//   {source: {x: 1, y0: 0.3, y1: 0.5}, target: {x: 2, y0: 0.1, y1: 0.2}, group:  6},
//   {source: {x: 1, y0: 0.0, y1: 0.3}, target: {x: 2, y0: 0.0, y1: 0.1}, group:  7},
//   {source: {x: 2, y0: 0.8, y1: 1.0}, target: {x: 0, y0: 0.5, y1: 1.0}, group:  8},
//   {source: {x: 2, y0: 0.5, y1: 0.8}, target: {x: 0, y0: 0.2, y1: 0.5}, group:  9},
//   {source: {x: 2, y0: 0.1, y1: 0.5}, target: {x: 0, y0: 0.1, y1: 0.2}, group: 10},
//   {source: {x: 2, y0: 0.0, y1: 0.1}, target: {x: 0, y0: 0.0, y1: 0.1}, group: 11}
// ];

// var celltypes = ['cpn','subcereb','corticothal'];

// var timepoints = ['E15','E16','E18','P1'];

// var data = {{ gene.diffDataHive|safe }};

// var svg = d3.select("#hiveplot").append("svg")
//     .attr("width", width)
//     .attr("height", height)
//   .append("g")
//     .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

// svg.selectAll(".link")
//     .data(links)
//   .enter().append("path")
//     .attr("class", "link")
//     .attr("d", d3.hive.link()
//     .angle(function(d) { return angle(d.x); })
//     .startRadius(function(d) { return radius(d.y0); })
//     .endRadius(function(d) { return radius(d.y1); }))
//     .style("fill", function(d) { return color(d.group); });

// svg.selectAll(".hiveaxis")
//     .data(d3.range(celltypes.length))
//   .enter().append("g")
//     .attr("class", "hiveaxis")
//     .attr("transform", function(d) { return "rotate(" + degrees(angle(d)) + ")"; })
//   .selectAll("line")
//     .data(["stroke", "fill"])
//   .enter().append("line")
//     .attr("class", function(d) { return d; })
//     .attr("x1", radius.range()[0])
//     .attr("x2", radius.range()[1]);

// function degrees(radians) {
//   return radians / Math.PI * 180 - 90;
// }

</script>
<script>
//New Hive plot
var width = 420,
    height = 420,
    innerRadius = 20,
    outerRadius = 180;
    //majorAngle = 2 * Math.PI / 3,
    //minorAngle = 1 * Math.PI / 12;

//Load data
var data = {{ gene.diffDataHive|safe }};

var celltypes = ["cpn","subcereb","corticothal"];
var timepoints = ["E15","E16","E18","P1"];

 /*  Construct nodesByName, an index by node name:

    g.nodesByName = {
      "flare.animate.Pause": {
         "connectors":    [ <links object>, ... ],
         "imports":       [ "flare.animate.Transition", ... ],
         "index":         17,
         "name":          "flare.animate.Pause",
         "packageName":   "animate",
         "size":          449,
         "source":        <links object>,
         "target":        <links object>,
         "type":          "target-source"
      }, ... };
  */


var nodesByName = {
    "E15_cpn":{"celltype":"cpn","timepoint":"E15","name":"E15_cpn"},
    "E16_cpn":{"celltype":"cpn","timepoint":"E16","name":"E16_cpn"},
    "E18_cpn":{"celltype":"cpn","timepoint":"E18","name":"E18_cpn"},
    "P1_cpn":{"celltype":"cpn","timepoint":"P1","name":"P1_cpn"},
    "E15_subcereb":{"celltype":"subcereb","timepoint":"E15","name":"E15_subcereb"},
    "E16_subcereb":{"celltype":"subcereb","timepoint":"E16","name":"E16_subcereb"},
    "E18_subcereb":{"celltype":"subcereb","timepoint":"E18","name":"E18_subcereb"},
    "P1_subcereb":{"celltype":"subcereb","timepoint":"P1","name":"P1_subcereb"},
    "E15_corticothal":{"celltype":"corticothal","timepoint":"E15","name":"E15_corticothal"},
    "E16_corticothal":{"celltype":"corticothal","timepoint":"E16","name":"E16_corticothal"},
    "E18_corticothal":{"celltype":"corticothal","timepoint":"E18","name":"E18_corticothal"},
    "P1_corticothal":{"celltype":"corticothal","timepoint":"P1","name":"P1_corticothal"},
};

var nodes= [
    {"celltype":"cpn","timepoint":"E15","name":"E15_cpn"},
    {"celltype":"cpn","timepoint":"E16","name":"E16_cpn"},
    {"celltype":"cpn","timepoint":"E18","name":"E18_cpn"},
    {"celltype":"cpn","timepoint":"P1","name":"P1_cpn"},
    {"celltype":"subcereb","timepoint":"E15","name":"E15_subcereb"},
    {"celltype":"subcereb","timepoint":"E16","name":"E16_subcereb"},
    {"celltype":"subcereb","timepoint":"E18","name":"E18_subcereb"},
    {"celltype":"subcereb","timepoint":"P1","name":"P1_subcereb"},
    {"celltype":"corticothal","timepoint":"E15","name":"E15_corticothal"},
    {"celltype":"corticothal","timepoint":"E16","name":"E16_corticothal"},
    {"celltype":"corticothal","timepoint":"E18","name":"E18_corticothal"},
    {"celltype":"corticothal","timepoint":"P1","name":"P1_corticothal"},
];

//Sample data
//{"name":"flare.analytics.cluster.AgglomerativeCluster","size":3938,"imports":["flare.animate.Transitioner","flare.vis.data.DataList","flare.util.math.IMatrix","flare.analytics.cluster.MergeEdge","flare.analytics.cluster.HierarchicalCluster","flare.vis.data.Data"]},
//{"name":"flare.analytics.cluster.CommunityStructure","size":3812,"imports":["flare.analytics.cluster.HierarchicalCluster","flare.animate.Transitioner","flare.vis.data.DataList","flare.analytics.cluster.MergeEdge","flare.util.math.IMatrix"]},
//{"name":"flare.analytics.cluster.HierarchicalCluster","size":6714,"imports":["flare.vis.data.EdgeSprite","flare.vis.data.NodeSprite","flare.vis.data.DataList","flare.vis.data.Tree","flare.util.Arrays","flare.analytics.cluster.MergeEdge","flare.util.Sort","flare.vis.operator.Operator","flare.util.Property","flare.vis.data.Data"]},
//{"name":"flare.analytics.cluster.MergeEdge","size":743,"imports":[]},
//{"name":"flare.analytics.graph.BetweennessCentrality","size":3534,"imports":["flare.animate.Transitioner","flare.vis.data.NodeSprite","flare.vis.data.DataList","flare.util.Arrays","flare.vis.data.Data","flare.util.Property","flare.vis.operator.Operator"]},

//Helper functions
var angle = d3.scale.ordinal()
    .domain(d3.range(celltypes.length + 1))
    .rangePoints([0, 2* Math.PI]);

var radius = d3.scale.ordinal()
    .domain(timepoints)
    .rangePoints([20,outerRadius])

var color = d3.scale.category10()
    .domain(d3.range(celltypes)); //TODO: make sure this is correct syntax

//Create Info object
var info = d3.select("#info");
      //.text(defaultInfo = "Test");

var qFilter = 0.001;

//create svg object on .hive
var svg = d3.select("#hive")
    .append("svg:svg")
    .attr("width", width)
    .attr("height",height)
    .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

//Draw the axes
// svg.selectAll(".hiveaxis")
//     .data(d3.range(celltypes.length))
//     .enter().append("line")
//         .attr("class", "hiveaxis")
//         .attr("transform", function(d) { return "rotate(" + degrees(angle(d)) + ")"; })
//         .attr("x1", radius.range()[0])
//         .attr("x2", radius.range()[radius.range().length-1]);



// //This will be the tricky part
// //Draw the links
// svg.append("g")
//  .attr("class","hivelinks")
//  .selectAll(".hivelink")
//     .data(data)
//  .enter().append("path")
//     .attr("class","hivelink")
//     .attr("d", link())
//         .angle(function(d) { return angle(celltypes.indexOf(d.celltype)); })
//         .startRadius(function(d) { return radius(d.timepoint); });

  // Draw the links.
  svg.append("g")
      .attr("class", "links")
    .selectAll(".link")
      .data(data)
    .enter().append("path")
    .filter(function(d) { return d.values.q_value  <= qFilter })
      .attr("class", "link")
      .attr("d", link()
        .angle(function(d) { return angle(celltypes.indexOf(d.celltype)); })
        .radius(function(d) { return radius(d.timepoint); }))
      .on("mouseover", function(d){
            d3.select(this)
                .classed("active",true);
            info.html("<h4>" +
               d.source.sample +
               " vs " +
               d.target.sample +
               "</h4> <table class='table table-striped table-condensed'>" +
               "<tr><td><h5>"+d.values.sample_1+"</h5></td><td>" + d.values.value_1 + "</td></tr>" +
               "<tr><td><h5>" + d.values.sample_2 +"</h5></td><td>" + d.values.value_2 + "</td></tr>" +
               "<tr><td><h5>Log2 Ratio:</h5></td><td>" +
               d.values.log2_fold_change + "</td></tr>" +
                "<tr><td><h5>Test Statistic:</h5></td><td>" +
               d.values.test_stat + "</td></tr>" +
               "<tr><td><h5>p-value:</h5></td><td>" +
               d.values.p_value + "</td></tr>" +
               "<tr><td><h5>q-value:</h5></td><td>" +
               d.values.q_value + "</td></tr>" +
               "<tr><td><h5>Significant</h5></td><td>" +
               d.values.significant); "</td></tr>" +
              "</table>"
                })
      .on("mouseout", function(d){
            d3.select(this)
                .classed("active", false);
      //      info.text(defaultInfo);
      });

//Draw the nodes
svg.append("g")
    .attr("class","hivenodes")
    .selectAll(".hivenode")
        .data(nodes)
    .enter().append("g")
        .attr("class","hivenode")
    .selectAll("circle")
        .data(nodes)
    .enter().append("circle")
        .attr("transform", function(d) { return "rotate(" + degrees(angle(celltypes.indexOf(d.celltype))) + ")"; })
        .attr("cx", function(d) { return radius(d.timepoint); })
        .attr("r", 5)
        .style("fill", function(d) { return color(d.celltype)})
        .on("mouseover", nodeMouseover)
        .on("mouseout", mouseout);

d3.select("input[type=range]").on("change", function() {
    //line.tension(this.value / 100);
    qFilter = Math.pow(10,-(this.value));
    console.log(qFilter);
    //path.attr("d", function(d, i) { return line(splines[i]); });
  });

 // Highlight the link and connected nodes on mouseover.
  function linkMouseover(d) {
    svg.selectAll(".link").classed("active", function(p) { return p === d; });
    svg.selectAll(".hivenode circle").classed("active", function(p) { return p === d.source || p === d.target; });
    info.text("<h1>" +
     d.source.sample +
     " → " +
     d.target.sample +
     "</h1>" +
     "<h4>Sample 1:</h4>" +
     d.values.sample_1 +
      "<h4>Sample 2:</h4>" +
     d.values.sample_2 +
      "<h4>Value 1:</h4>" +
     d.values.value_1 +
      "<h4>Value 2:</h4>" +
     d.values.value_2 +
      "<h4>Log2 Ratio:</h4>" +
     d.values.log2_fold_change +
      "<h4>Test Statistic:</h4>" +
     d.values.test_stat +
     "<h4>p-value:</h4>" +
     d.values.p_value +
     "<h4>q-value:</h4>" +
     d.values.q_value +
     "<h4>Significant</h4>" +
     d.values.significant);
  }

  // Highlight the node and connected links on mouseover.
  function nodeMouseover(d) {
    svg.selectAll(".link").classed("active", function(p) { return p.source === d || p.target === d; });
    d3.select(this).classed("active", true);
    info.html("<h4>" + d.name + "</h4>");
  }

  // Clear any highlighted nodes or links.
  function mouseout() {
    svg.selectAll(".active").classed("active", false);
    info.text(defaultInfo);
  }

// A shape generator for Hive links, based on a source and a target.
// The source and target are defined in polar coordinates (angle and radius).
// Ratio links can also be drawn by using a startRadius and endRadius.
// This class is modeled after d3.svg.chord.
function link() {
  var source = function(d) { return d.source; },
      target = function(d) { return d.target; },
      angle = function(d) { return d.angle; },
      startRadius = function(d) { return d.radius; },
      endRadius = startRadius,
      arcOffset = -Math.PI / 2;

  function link(d, i) {
    var s = node(source, this, d, i),
        t = node(target, this, d, i),
        x;
    if (t.a < s.a) x = t, t = s, s = x;
    if (t.a - s.a > Math.PI) s.a += 2 * Math.PI;
    var a1 = s.a + (t.a - s.a) / 3,
        a2 = t.a - (t.a - s.a) / 3;
    return s.r0 - s.r1 || t.r0 - t.r1
        ? "M" + Math.cos(s.a) * s.r0 + "," + Math.sin(s.a) * s.r0
        + "L" + Math.cos(s.a) * s.r1 + "," + Math.sin(s.a) * s.r1
        + "C" + Math.cos(a1) * s.r1 + "," + Math.sin(a1) * s.r1
        + " " + Math.cos(a2) * t.r1 + "," + Math.sin(a2) * t.r1
        + " " + Math.cos(t.a) * t.r1 + "," + Math.sin(t.a) * t.r1
        + "L" + Math.cos(t.a) * t.r0 + "," + Math.sin(t.a) * t.r0
        + "C" + Math.cos(a2) * t.r0 + "," + Math.sin(a2) * t.r0
        + " " + Math.cos(a1) * s.r0 + "," + Math.sin(a1) * s.r0
        + " " + Math.cos(s.a) * s.r0 + "," + Math.sin(s.a) * s.r0
        : "M" + Math.cos(s.a) * s.r0 + "," + Math.sin(s.a) * s.r0
        + "C" + Math.cos(a1) * s.r1 + "," + Math.sin(a1) * s.r1
        + " " + Math.cos(a2) * t.r1 + "," + Math.sin(a2) * t.r1
        + " " + Math.cos(t.a) * t.r1 + "," + Math.sin(t.a) * t.r1;
  }

  function node(method, thiz, d, i) {
    var node = method.call(thiz, d, i),
        a = +(typeof angle === "function" ? angle.call(thiz, node, i) : angle) + arcOffset,
        r0 = +(typeof startRadius === "function" ? startRadius.call(thiz, node, i) : startRadius),
        r1 = (startRadius === endRadius ? r0 : +(typeof endRadius === "function" ? endRadius.call(thiz, node, i) : endRadius));
    return {r0: r0, r1: r1, a: a};
  }

  link.source = function(_) {
    if (!arguments.length) return source;
    source = _;
    return link;
  };

  link.target = function(_) {
    if (!arguments.length) return target;
    target = _;
    return link;
  };

  link.angle = function(_) {
    if (!arguments.length) return angle;
    angle = _;
    return link;
  };

  link.radius = function(_) {
    if (!arguments.length) return startRadius;
    startRadius = endRadius = _;
    return link;
  };

  link.startRadius = function(_) {
    if (!arguments.length) return startRadius;
    startRadius = _;
    return link;
  };

  link.endRadius = function(_) {
    if (!arguments.length) return endRadius;
    endRadius = _;
    return link;
  };

  return link;
}

function degrees(radians) {
  return radians / Math.PI * 180 - 90;
}

</script>

<!-- # Implement later for sunburst -->
<script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/import.js"></script>
<script type="text/javascript">
var sectionDataSetId = {{ sunburstIds|first }};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/sunburst.js"></script>

	{% endblock main %}
