.gene_set_button {
  border: 1px solid gray;
  border-radius: 11px;
  color: white;
  display: inline-block;
  font-size: 8pt;
  margin-left: 15px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  vertical-align: middle;
  cursor: pointer;
}

.gene_set_button:hover {
  text-decoration: underline;
}

.remove_from_gene_set {
  background-color: hsl(0, 50%, 50%);
}

.add_to_gene_set {
  background-color: hsl(100, 50%, 50%);
}
