{% extends 'base.html' %}

{% block title %}
Cluster Index
{% endblock title %}

{% block header %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/cluster_index.css">
{% endblock header %}

{% block content %}
<div class="row">
	<div class="col-md-10">
	{% block main %}

  <h2>Gene Expression Clusters</h2>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>Callosal Projection Neurons (CPN) Signature RNAs</h3></div>
    <div class="panel-body" style="background-color: hsl(120, 80%, 84%);">
      <table class="cluster-table">
        <tr>
          <th>Cluster 5<div class="cluster-pie" id="cluster-5-pie"></div></td>
          <th>Cluster 0<div class="cluster-pie" id="cluster-0-pie"></div></td>
          <th>Cluster 15<div class="cluster-pie" id="cluster-15-pie"></div></td>
          <th>Cluster 10<div class="cluster-pie" id="cluster-10-pie"></div></td>
        </tr>
        <tr>
          <td><a href="{% url 'cluster_show' cluster_id=5  %}"><img src="{{ STATIC_URL }}img/cluster_5.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=0  %}"><img src="{{ STATIC_URL }}img/cluster_0.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=15 %}"><img src="{{ STATIC_URL }}img/cluster_15.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=10 %}"><img src="{{ STATIC_URL }}img/cluster_10.png"></a></td>
        </tr>
      </table>
    </div>
    <div class="panel-heading"><h3>Subcerebral Projection Neurons (ScPN) Signature RNAs</h3></div>
    <div class="panel-body" style="background-color: hsl(0, 80%, 84%);">
      <table class="cluster-table">
        <tr>
          <th>Cluster 16<div class="cluster-pie" id="cluster-16-pie"></div></td>
          <th>Cluster 18<div class="cluster-pie" id="cluster-18-pie"></div></td>
          <th>Cluster 7<div class="cluster-pie" id="cluster-7-pie"></div></td>
        </tr>
        <tr>
          <td><a href="{% url 'cluster_show' cluster_id=16 %}"><img src="{{ STATIC_URL }}img/cluster_16.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=18 %}"><img src="{{ STATIC_URL }}img/cluster_18.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=7  %}"><img src="{{ STATIC_URL }}img/cluster_7.png"></a></td>
        </tr>
      </table>
    </div>
    <div class="panel-heading"><h3>Corticothalamic Projection Neurons (CThPN) Signature RNAs</h3></div>
    <div class="panel-body" style="background-color: hsl(210, 80%, 84%);">
      <table class="cluster-table">
        <tr>
          <th>Cluster 2<div class="cluster-pie" id="cluster-2-pie"></div></td>
          <th>Cluster 9<div class="cluster-pie" id="cluster-9-pie"></div></td>
          <th>Cluster 6<div class="cluster-pie" id="cluster-6-pie"></div></td>
        </tr>
        <tr>
          <td><a href="{% url 'cluster_show' cluster_id=2 %}"><img src="{{ STATIC_URL }}img/cluster_2.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=9 %}"><img src="{{ STATIC_URL }}img/cluster_9.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=6 %}"><img src="{{ STATIC_URL }}img/cluster_6.png"></a></td>
        </tr>
      </table>
    </div>
    <div class="panel-heading"><h3>Mixed Cell-type</h3></div>
    <div class="panel-body" style="background-color: hsl(30, 80%, 84%);">
      <table class="cluster-table">
        <tr>
          <th>Cluster 3<div class="cluster-pie" id="cluster-3-pie"></div></td>
          <th>Cluster 4<div class="cluster-pie" id="cluster-4-pie"></div></td>
          <th>Cluster 11<div class="cluster-pie" id="cluster-11-pie"></div></td>
          <th>Cluster 12<div class="cluster-pie" id="cluster-12-pie"></div></td>
        </tr>
        <tr>
          <td><a href="{% url 'cluster_show' cluster_id=3  %}"><img src="{{ STATIC_URL }}img/cluster_3.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=4  %}"><img src="{{ STATIC_URL }}img/cluster_4.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=11 %}"><img src="{{ STATIC_URL }}img/cluster_11.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=12 %}"><img src="{{ STATIC_URL }}img/cluster_12.png"></a></td>
        </tr>
      </table>
    </div>
    <div class="panel-heading"><h3>Cell-type Independent</h3></div>
    <div class="panel-body" style="background-color: hsl(210, 0%, 84%);">
      <table class="cluster-table">
        <tr>
          <th>Cluster 17<div class="cluster-pie" id="cluster-17-pie"></div></td>
          <th>Cluster 1<div class="cluster-pie" id="cluster-1-pie"></div></td>
          <th>Cluster 14<div class="cluster-pie" id="cluster-14-pie"></div></td>
        </tr>
        <tr>
          <td><a href="{% url 'cluster_show' cluster_id=17 %}"><img src="{{ STATIC_URL }}img/cluster_17.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=1  %}"><img src="{{ STATIC_URL }}img/cluster_1.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=14 %}"><img src="{{ STATIC_URL }}img/cluster_14.png"></a></td>
        </tr>
        <tr>
          <th>Cluster 8<div class="cluster-pie" id="cluster-8-pie"></div></td>
          <th>Cluster 13<div class="cluster-pie" id="cluster-13-pie"></div></td>
          <th>Cluster 19<div class="cluster-pie" id="cluster-19-pie"></div></td>
        </tr>
        <tr>
          <td><a href="{% url 'cluster_show' cluster_id=8  %}"><img src="{{ STATIC_URL }}img/cluster_8.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=13 %}"><img src="{{ STATIC_URL }}img/cluster_13.png"></a></td>
          <td><a href="{% url 'cluster_show' cluster_id=19 %}"><img src="{{ STATIC_URL }}img/cluster_19.png"></a></td>
        </tr>
      </table>
    </div>
  </div>

	{% endblock main %}
	</div>
</div>
<script type="text/javascript">
var cluster_pies = [
  0.125,  // 0
  0.025,  // 1
  0.35,   // 2
  0.115,  // 3
  0.167,  // 4
  0.25,   // 5
  0.25,   // 6
  0.22,   // 7
  0.035,  // 8
  0.132,  // 9
  0.125,  // 10
  0.1,    // 11
  0.07,   // 12
  0.07,   // 13
  0.05,   // 14
  0.0625, // 15
  0.2,    // 16
  0.115,  // 17
  0.01,   // 18
  0.06,   // 19
];

$('.cluster-pie').each(function(e) {
  var index = parseInt(this.id.replace(/^cluster-/, '').replace(/-pie$/, ''));
  var svg = d3.select('#' + this.id).append('svg:svg')
    .attr('width', '32px')
    .attr('height', '32px');

  var chart = svg.append('svg:g')
    .attr("transform", "translate(" + 16 + "," + 16 + ")");

  var pie = d3.layout.pie()
    .sort(null);

  var arc = d3.svg.arc()
    .innerRadius(0)
    .outerRadius(14);

  chart.selectAll(".arc")
    .data(pie([cluster_pies[index], 1-cluster_pies[index]]))
    .enter().append("path")
      .attr("class", function(d,i) { return "arc " + (i == 0 ? "filled" : "empty"); })
      .attr("d", arc);
});
</script>
{% endblock content %}
