{% extends 'base.html' %}

  {% block title %}
  Cluster Index
  {% endblock title %}

{% block header }
{% endblock header }

{% block content %}
<div class="row">
	<div class="col-md-2">
	<div class="well well-sm">
	{% block navleft %}

 	<h5>Clusters</h5>

	{% endblock navleft%}
	</div>
	</div>
	<div class="col-md-10">
	{% block main %}

	<h1>Clusters</h1>

  <h2>Gene Expression Clusters</h2>

  <div class="panel panel-default">
    <div class="panel-heading"><h3>CPN Signature RNAs</h3></div>
    <div class="panel-body">
      <a href="{% url 'cluster_show' cluster_id=0 %}">Cluster 0</a>
      <a href="{% url 'cluster_show' cluster_id=3 %}">Cluster 3</a>
      <a href="{% url 'cluster_show' cluster_id=5 %}">Cluster 5</a>
      <a href="{% url 'cluster_show' cluster_id=7 %}">Cluster 7</a>
    </div>
    <div class="panel-heading"><h3>SCPN Signature RNAs</h3></div>
    <div class="panel-body">
      <a href="{% url 'cluster_show' cluster_id=15 %}">Cluster 15</a>
      <a href="{% url 'cluster_show' cluster_id=8 %}">Cluster 8</a>
      <a href="{% url 'cluster_show' cluster_id=6 %}">Cluster 6</a>
      <a href="{% url 'cluster_show' cluster_id=18 %}">Cluster 18</a>
    </div>
    <div class="panel-heading"><h3>CThPN Signature RNAs</h3></div>
    <div class="panel-body">
      <a href="{% url 'cluster_show' cluster_id=2 %}">Cluster 2</a>
      <a href="{% url 'cluster_show' cluster_id=12 %}">Cluster 12</a>
      <a href="{% url 'cluster_show' cluster_id=9 %}">Cluster 9</a>
      <a href="{% url 'cluster_show' cluster_id=1 %}">Cluster 1</a>
    </div>
  </div>

  <h2>Other Clusters</h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <a href="{% url 'cluster_show' cluster_id=17 %}">Cluster 17</a>
      <a href="{% url 'cluster_show' cluster_id=16 %}">Cluster 16</a>
      <a href="{% url 'cluster_show' cluster_id=13 %}">Cluster 13</a>
      <a href="{% url 'cluster_show' cluster_id=19 %}">Cluster 19</a>
      <a href="{% url 'cluster_show' cluster_id=14 %}">Cluster 14</a>
      <a href="{% url 'cluster_show' cluster_id=11 %}">Cluster 11</a>
      <a href="{% url 'cluster_show' cluster_id=10 %}">Cluster 10</a>
      <a href="{% url 'cluster_show' cluster_id=4 %}">Cluster 4</a>
    </div>
  </div>

	{% endblock main %}
	</div>
</div>
{% endblock content %}
