{% extends 'base.html' %}

{% block content %}
	<h1>{{ gene.gene_id }} <small>{{ gene.gene_short_name }}</small></h1>
		<h3>Locus</h3>
		{{ gene.locus }}

	<h2>Expression <small>(FPKM)</small></h2>
	<table class="table table-hover">
		<tr>
			{% for sampleName in expression.keys %}
			<th>{{sampleName}}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for key,value in expression.items %}
			<td>{{value.fpkm}}</td>
			{% endfor %}
		</tr>

	</table>

	<h2>Isoforms</h2>
	<ul>
	{% for isoform in isoforms %}
		<li>{{isoform.isoform_id}}</li>
	{% endfor %}
	<ul>


{% endblock content %}