{% extends 'pyramidal/geneBase.html' %}
    {% block title %}
        GeneSet View
    {% endblock title %}
	{% block header %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/gene_set_viz.css">
  {% endblock header %}

	{% block navleft%}
    <ul>
      {% for gene in genes %}
        <li><a href="{% url 'gene_show' gene.gene_id %}">{{gene.gene_id}}</a></li>
     	{% endfor %}
    </ul>
	{% endblock navleft %}

	{% block main %}
    <div id="legend"></div>
    <form name="pickTimepoint" id="timeinput">
            <label for=silder>Time point:</label> <input type="range" id="slider" min="0" max="3" value="3" style="display:inline-block; vertical-align:middle" />
        <output for=slider id="timeOutput">P1</output>
      <div id="viz-selector">
      <a href="#" id="viz-button-tabular">Tabular</a> | <a href="#" id="viz-button-cluster">Cluster</a>
      </div>
    </form>
    <div id="genelist"></div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/gene_set_viz.js"></script>
    <script>
      // Data
      var expressionData = {{ expression|safe }};
      var diffData = {{ diffData|safe }};

      // Draw
      gene_set_viz.legend('#legend');
      gene_set_viz.tabular("#slider", "#genelist", expressionData, diffData);

      $('#viz-button-tabular').click(function(e) {
        $('#genelist').empty();
        gene_set_viz.tabular("#slider", "#genelist", expressionData, diffData);
        e.preventDefault();
      });

      $('#viz-button-cluster').click(function(e) {
        $('#genelist').empty();
        gene_set_viz.cluster("#slider", "#genelist", expressionData, diffData);
        e.preventDefault();
      });
    </script>
	{% endblock main %}
