{% extends 'base.html' %}
{% load pyramidal_extras %}

{% block content %}
<h1>All Genes</h1>

<table class="table table-hover table-striped table-condensed">

<tr>
	<th><a href="?{% url_replace request 'order_by' 'gene_id'%}">Gene</a></th>
	<th>Locus</th>
	<th>Number of isoforms</th>
  <th>Significant</th>
	<th>Expression</th>
</tr>
{% for gene in genes %}
<tr>
	<td><a href="{% url 'gene_show' gene_id=gene.url_name %}">{{ gene.gene_short_name }}</a></td>
	<td><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?org=mouse&db=mm9&position={{gene.locus}}" target="_blank">{{ gene.locus }}</a></td>
	<td>{{ gene.isoforms|length }}</td>
  {% if gene.isSignificant %}
      <td><span style="color:#055510;" class="glyphicon glyphicon-ok"></span></td>
  {% else %}
      <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
  {% endif %}
  <td><div class="gene-expression" id="gene-{{ gene.safe_name }}"></div></td>
</tr>
{% endfor %}
</table>
<ul class="pagination">
        {% if genes.has_previous %}
           <li> <a href="?page={{ genes.previous_page_number }}">previous</a></li>
        {% endif %}
        {% if genes.has_next %}
           <li> <a href="?page={{ genes.next_page_number }}">next</a></li>
        {% endif %}
</ul>

	<!-- D3.js scripts -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/gene.js"></script>

  <script type="text/javascript">
    var gene_headers = [
      ['E15','E16','E18','P1'],
      ['corticothal', 'cpn', 'subcereb']
    ];
    {% for gene in genes %}
    gene_expression.lines('.gene-expression#gene-{{ gene.safe_name }}',
        gene_headers,
        {{ gene.expressionJson|safe }},
        { width: 100, height: 50, margin: {left: 0, right: 0, top: 0, bottom: 0} });
    {% endfor %}
  </script>
{% endblock content %}
