{% extends 'pyramidal/geneBase.html' %}
    {% block title %}
        GeneSet View
    {% endblock title %}
	{% block header %}
	<style>
    .legendLabel{
        font-family:sans-serif;
        font-size:10pt;
    }
    .label{
        font-family:sans-serif;
        font-size:10pt;

    }
	</style>
  {% endblock header %}

	{% block navleft%}
    <ul>
      {% for gene in genes %}
        <li><a href="{% url 'gene_show' gene.gene_id %}">{{gene.gene_id}}</a></li>
     	{% endfor %}
    </ul>
	{% endblock navleft %}

	{% block main %}
    <div id="legend"></div>
    <form name="pickTimepoint">
            <label for=silder>Time point:</label> <input type="range" id="slider" min="0" max="3" value="3" style="display:inline-block; vertical-align:middle" onchange="outputUpdate(value)" />
        <output for=slider id="timeOutput">P1</output>
<script>
    function outputUpdate(output) {
document.querySelector('#timeOutput').value = timeScale(output);
}
</script>
    </form>
    <div id="genelist"></div>

    <script type="text/javascript" src="{{ STATIC_URL }}js/gene_set_viz.js"></script>
    <script>
      // Data
      var expressionData = {{ expression|safe }};
      var diffData = {{ diffData|safe }};

      // Draw
      gene_set_viz.draw("#slider", "#genelist", expressionData, diffData);
    </script>
	{% endblock main %}
