{# tutorial/templates/people.html #}
{% extends 'base.html' %}
{% load pyramidal_extras %}

{% block content %}
<h1>All Genes</h1>

<table class="table table-hover table-striped table-condensed">

<tr>
	<th><a href="?{% url_replace request 'order_by' 'gene_id'%}">Gene ID</a></th>
	<th><a href="?{% url_replace request 'order_by' 'gene_short_name'%}">Name</a></th>
	<th>Locus</th>
	<th>Number of isoforms</th>
</tr>
{% for gene in genes %}
<tr>
	<td><a href="{{ url }}/pyramidal/gene/{{gene.gene_id}}/">{{ gene.gene_id }}</a></td>
	<td>{{ gene.gene_short_name }}</td>
	<td><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?org=mouse&db=mm9&position={{gene.locus}}" target="_blank">{{ gene.locus }}</a></td>
	<td>{{ gene.isoforms|length }}</td>
</tr>
{% endfor %}
</table>
<ul class="pagination">
        {% if genes.has_previous %}
           <li> <a href="?page={{ genes.previous_page_number }}">previous</a></li>
        {% endif %}
        {% if genes.has_next %}
           <li> <a href="?page={{ genes.next_page_number }}">next</a></li>
        {% endif %}
</ul>
{% endblock content %}