{% extends 'pyramidal/geneBase.html' %}
  {% block title %}
  Gene: {{ gene.gene_short_name }}
  {% endblock title %}
	{% block header %}
  <!-- #Sunburst imports -->
  <link rel="stylesheet" href="{{ STATIC_URL }}js/sunburst/jquery-ui-1.10.0/css/ui-lightness/jquery-ui-1.10.0.custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}js/sunburst/stylesheets/examples.css">
    <link href="http://www.brain-map.org/external_assets/stylesheets/portal.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="http://www.brain-map.org/external_assets/javascripts/portal.js" type="text/javascript"></script>
  <script type="text/javascript">
    var _pImagePath = "http://www.brain-map.org/external_assets/portal_only/images/";   // location of plugin image assets (must end with a "/")
  </script>

  <!--  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/jquery-ui-1.10.0/js/jquery-1.9.0.js"></script>-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/javascripts/jquery.ie.cors.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/javascripts/modernizr.svg.js"></script>
  <!--end of sunburst imports-->

  {% endblock header %}

	{% block navleft%}
 	<h5>{{ gene.gene_id }}</h5>
  <h6>Locus</h6>
  <ul>
    <li>
      <a style="word-wrap: break-word" href="http://genome.ucsc.edu/cgi-bin/hgTracks?org=mouse&db=mm9&position={{ gene.locus }}&hubUrl=http://decon.fas.harvard.edu/hubs/Arlotta_neuronal_subtypes/hub.txt" target="_blank">{{ gene.locus }}</a>
    </li>
  </ul>
  <h6>Significant</h6>
  {% if gene.isSignificant %}
  <span style="color:#055510;" class="glyphicon glyphicon-ok"></span>
  {% else %}
  <span style="color:red;" class="glyphicon glyphicon-remove"></span>
  {% endif %}
 	<!-- Individual Isoform pages
    <h6>Isoforms</h6>
  		<ul>
  		{% for isoform in isoforms %}
  			<li><a href="{% url 'isoform_show' gene_id=gene.url_name isoform_id=isoform.isoform_id %}">{{isoform.isoform_id}}</a></li>
  		{% endfor %}
  		</ul>
  -->
  <h6>Resources</h6>
    <ul>
      <li><a href="#expression">Expression</a></li>
      <li><a href="#subgene">Subgene Features</a></li>
      <li><a href="#isoforms">Isoforms</a></li>
      <li><a href="#diffex">Differential</a></li>
      <li><a href="#allen">Allen ISH</a></li>

      {% ifequal sectionData.msg|length 0 %}
      {% else %}
      <li><a href="#accordion">Allen Brain Images</a></li>
      {% endifequal %}
    </ul>
	<h6>External Links</h6>
		<ul>
			<li><a href="http://developingmouse.brain-map.org/search/show?page_num=0&page_size=8&no_paging=false&exact_match=false&search_term={{ gene.gene_short_name }}&search_type=gene" target="_blank">Developing Mouse Brain - Allen</a></li>
			<li><a href="http://genome.ucsc.edu/cgi-bin/hgTracks?org=mouse&db=mm9&position={{ gene.locus }}&hubUrl=http://decon.fas.harvard.edu/hubs/Arlotta_neuronal_subtypes/hub.txt" target="_blank">UCSC Genome Browser</a></li>
		</ul>

	{% endblock navleft %}

	{% block main %}
	<!-- genePie -->

	<h1>{{ gene.gene_short_name }}</h1>
  <div class="panel panel-default">
    <div class="panel-heading"><div class="graph-buttons" style="float:right">
        <a href="#" id="graph-button-line"><img src="{{ STATIC_URL}}img/gene-graph-lines-on.svg" style="width: 32px" title="Line graph" alt="Line graph"></a>
        <a href="#" id="graph-button-bar"><img src="{{ STATIC_URL }}img/gene-graph-bars.svg" style="width: 32px" title="Bar graph" alt="Bar graph"></a>
      </div>
      <h4 id="expression">Cortical Neuron Subtype Expression</h4>
    </div>
    <div class="panel-body">
       <div id="chart"></div>
    </div>
  </div>

   <div class="panel panel-default">
    <div id="subgene" class="panel-heading">
            <h4>Subgene Features</h4>
    </div>
    <div class="panel-body">
       <form name="condition">
              <label style="float:left;" for=timeSilder>Time point:&nbsp;</label>
              <input class="inputPieTime" type="range" id="timeSlider" min="0" max="3" value="0" style="display:inline-block; float:left;" onchange="outputTimeUpdate(value)" />
              &nbsp;<output style="float:left;" for=timeSlider id="timeOutput">E15</output><br clear="left">
              <label for=cellRadio>Cell Type:</label> 
              <input class="inputPieCell" type="radio" name="cellTypeGroup" value="cpn" checked style="display:inline-block; vertical-align:middle"/> CPN
              <input class="inputPieCell" type="radio" name="cellTypeGroup" value="subcereb" style="display:inline-block; vertical-align:middle"/> ScPN
              <input class="inputPieCell" type="radio" name="cellTypeGroup" value="corticothal" style="display:inline-block; vertical-align:middle"/> CThPN
       </form>
          <div style="float: left;" id="isoformPie"><h4 style="text-align:center">Isoforms</h4></div>
          <div style="float: left;" id="promoterPie"><h4 style="text-align:center">Promoters</h4></div>
          <div style="float: left;"id="cdsPie"><h4 style="text-align:center">CDS</h4></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
    <h4 id="isoforms">Isoforms</h4></div>
    <div class="panel-body">
       {% for isoform in isoforms %}
       <h5>{{ isoform.isoform_id }}</h5>
       <div style="float:right; width: 100px; height: 50px" class="isoform-graph" id="isoform-{{ isoform.safe_name }}-graph"></div>
       <div class="isoform" style="margin-right: 120px; height: 50px" id="isoform-{{ isoform.safe_name }}"></div>
       {% endfor %}
    </div>
  </div>
	<div class="panel panel-default">
  <div class="panel-heading"><h4 id="diffex">Differential Analysis</h4></div>
  <div class="panel-body">
    <div id="hive" style="display: inline-block; width: 450px; height: 450px; vertical-align:middle"></div>
    <div id="hive_info" style="display: inline-block; width: 350px; height: 350px; vertical-align:middle"></div>
	</div>
  </div>

  <div class="panel panel-default sunburst-panel" style="display:none">
      <div class="panel-heading"><h4 id="allen">Allen Brain Map - Expression</h4></div>
      <div id="errorDialog" title="API Query Error"></div>
      <div class="panel-body" id="content">

        <div class="media" id="sunburst"></div>
        <div class="media-body">

          <table id="visProperties">
          <tr>
          <td>Structure:</td>
          <td><div id="structureLabel"></div></td>
          </tr>

          <tr><td class="hrule" colspan=2></td></tr>

          <tr>
          <td>Expression Energy:</td>
          <td><div id="expressionLabel"></div></td>
          </tr>

          <tr><td class="hrule" colspan=2></td></tr>

          <tr>
          <td>Scale By:</td>
          <td>
            <div id="scaleButtons"></div>
          </td>
          </tr>

        </table>
        </div>
      </div>
      <div class="list-group">
          {% for sunburstId in sunburstIds %}
            <a href="?id={{sunburstId}}" class="list-group-item">{{ sunburstId }}</a>
          {% endfor %}
      </div>
  </div>

  <!-- #Allen Brain Images -->
  <div class="panel-group" id="accordion">
  {% ifequal sectionData.msg|length 0 %}
  {% else %}
  <h4>Allen Brain Images - Developing Mouse</h4>
  {% endifequal %}
  {% for section in sectionData.msg %}
    <div class="panel panel-default" id="allen-panel-{{section.id}}">
    <div class="panel-heading">
      <h5>
      <a data-toggle="collapse" data-parent="#accordian" href="#allen-section-{{section.id}}">
        SectionDataSet {{ section.id }}: {% with section.genes|first as firstGene %}{{firstGene.acronym}}{% endwith %} {{section.specimen.donor.age.name}}
        {% if section.plane_of_section_id == 1 %}
          Coronal
        {% elif section.plane_of_section_id == 2 %}
          Sagittal
        {% endif %}
        </a>
        </h5>
        <a href="http://developingmouse.brain-map.org/experiment/show/{{section.id}}" target="_blank">(Link to Allen Brain Explorer)</a>
    </div>
    <div id="allen-section-{{section.id}}" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
    </div>
  {% endfor %}
</div>

<script>
  var timeScale = d3.scale.ordinal()
                    .domain(d3.range(0,4))
                    .range(["E15","E16","E18","P1"])
  var timepoint = "E15";
  // document.getElementById('timeSlider').addEventListener('change', function() {
  //       timepoint = timeScale(document.getElementById("timeSlider").value);
  //       //redraw();
  // });
  function outputTimeUpdate(output) {
    document.querySelector('#timeOutput').value = timeScale(output);
}

</script>

<script src="http://d3js.org/d3.hive.v0.min.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/hive.js"></script>

  <script type="text/javascript">
    var gene_hive = {{ gene.diffDataHive|safe }};
    hive.plot('#hive', '#hive_info', { data: gene_hive } );
  </script>

	<!-- D3.js scripts -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/gene.js"></script>

  <script type="text/javascript">
    // Create the modal base
  modal_base = $('<div class="modal panel panel-default"><div class="modal-content panel-heading"><div class="graph-buttons" style="float:right"><a href="#" id="modal-button-line"><img src="{{ STATIC_URL}}img/gene-graph-lines-on.svg" style="width: 32px" title="Line graph" alt="Line graph"></a><a href="#" id="modal-button-bar"><img src="{{ STATIC_URL }}img/gene-graph-bars.svg" style="width:32px" title="Bar graph" alt="Bar graph"></a><a href="#" id="modal-button-hive"><img src="{{ STATIC_URL }}img/gene-graph-hive.svg" style="width:32px" title="Hive plot" alt="Hive plot"></a></div><h4>Expression Distribution</h4></div><div class="chart panel-body"></div></div>').css('display', 'none');

    // Create a note modal
    isoform_modal = modal_base.clone();
    isoform_modal.attr("id", "isoform-modal");
    isoform_modal.css("width", "880px");
    isoform_modal.css("height", "570px");
    isoform_modal.css("overflow", "hidden");
    isoform_modal.css("background-color", "white");
    isoform_modal.find('.chart').css("width",  "880px")
                                .css("height", "490px");
    $('body').append(isoform_modal);

    isoform_modal.easyModal({
      opacity: 0.5
    });

    var gene_data = {{ gene.expressionJson|safe }};

    var gene_headers = [
      ['E15','E16','E18','P1'],
      ['corticothal', 'cpn', 'subcereb']
    ];

    gene_expression.lines('#chart', gene_headers, { data: gene_data, width: 800, height: 400, resizable: true });

    var isoforms = {
     {% for isoform in isoforms %}
     "{{ isoform.isoform_id }}": {{ isoform.featuresJson|safe }},
     {% endfor %}
    };

    gene_expression.isoforms('.isoform', isoforms, { resizable: true } );

    //Isoform expression data
    var isoform_data = {
     {% for isoform in isoforms %}
     "{{ isoform.isoform_id }}": {{ isoform.expressionJson|safe }},
     {% endfor %}
    };

    // Promoter-level expression data
    var promoter_fpkm = {{ gene.promoterFpkm|safe }};

    gene_expression.pie('#promoterPie', promoter_fpkm, "tss_group_id", { width: 200, height: 200, resizable: false })

    // CDS-level expression data
    var cds_fpkm = {{ gene.cdsFpkm|safe }};

    gene_expression.pie('#cdsPie', cds_fpkm, "cds_id", { width: 200, height: 200, resizable: false })

    // Isoform expression data
    var isoform_fpkm = {{ gene.isoformFpkm|safe }};

    gene_expression.pie('#isoformPie', isoform_fpkm, "isoform_id", { width: 200, height: 200, resizable: false })

    //Plot isoform transcript models
    {% for isoform in isoforms %}
    gene_expression.lines("#isoform-{{ isoform.safe_name }}-graph", gene_headers, { data: isoform_data["{{ isoform.isoform_id }}"], width: 100, height: 50, margin: {left:1, right:0, bottom:1, top:0} });
    $('#isoform-{{ isoform.safe_name }}-graph').css("cursor", "pointer").click(function(e) {
      $('#isoform-modal .chart').empty();
      $('#modal-button-bar  img').attr('src', "{{ STATIC_URL }}img/gene-graph-bars.svg");
      $('#modal-button-hive img').attr('src', "{{ STATIC_URL }}img/gene-graph-hive.svg");
      $('#modal-button-line img').attr('src', "{{ STATIC_URL }}img/gene-graph-lines-on.svg");

      gene_expression.lines('#isoform-modal .chart', gene_headers, { data: isoform_data["{{ isoform.isoform_id }}"], width: 800, height: 400, resizable: true, margin: {left:50, right:30, bottom:80, top:10} });

      $('#modal-button-bar').click(function(e) {
          $('#isoform-modal .chart').empty();
          $('#modal-button-bar  img').attr('src', "{{ STATIC_URL }}img/gene-graph-bars-on.svg");
          $('#modal-button-line img').attr('src', "{{ STATIC_URL }}img/gene-graph-lines.svg");
          $('#modal-button-hive img').attr('src', "{{ STATIC_URL }}img/gene-graph-hive.svg");
          gene_expression.bars('#isoform-modal .chart', gene_headers, { data: isoform_data["{{ isoform.isoform_id }}"], width: 800, height: 400, resizable: true, margin: {left:50, right:30, bottom:80, top:10} });
          e.preventDefault();
          });

      $('#modal-button-line').click(function(e) {
          $('#isoform-modal .chart').empty();
          $('#modal-button-bar  img').attr('src', "{{ STATIC_URL }}img/gene-graph-bars.svg");
          $('#modal-button-line img').attr('src', "{{ STATIC_URL }}img/gene-graph-lines-on.svg");
          $('#modal-button-hive img').attr('src', "{{ STATIC_URL }}img/gene-graph-hive.svg");
          gene_expression.lines('#isoform-modal .chart', gene_headers, { data: isoform_data["{{ isoform.isoform_id }}"], width: 800, height: 400, resizable: true, margin: {left:50, right:30, bottom:80, top:10} });
          e.preventDefault();
          });

      $('#modal-button-hive').click(function(e) {
          $('#isoform-modal .chart').empty().append(
            '<div class="hive" style="display: inline-block; width: 450px; height: 450px; vertical-align:middle"></div>'
          + '<div class="hive_info" style="display: inline-block; width: 350px; height: 350px; vertical-align:middle"></div>');
          $('#modal-button-bar  img').attr('src', "{{ STATIC_URL }}img/gene-graph-bars.svg");
          $('#modal-button-line img').attr('src', "{{ STATIC_URL }}img/gene-graph-lines.svg");
          $('#modal-button-hive img').attr('src', "{{ STATIC_URL }}img/gene-graph-hive-on.svg");
          hive.plot('#isoform-modal .chart .hive',
                    '#isoform-modal .chart .hive_info',
                    { url: "{% url 'isoform_hive_data' gene_id=gene.url_name isoform_id=isoform.isoform_id%}" });
          e.preventDefault();
          });

      isoform_modal.trigger('openModal');
    });
    {% endfor %}

    $('#graph-button-bar').click(function(e) {
        $('#chart').empty();
        $('#graph-button-line img').attr('src', "{{ STATIC_URL }}img/gene-graph-lines.svg");
        $('#graph-button-bar  img').attr('src', "{{ STATIC_URL }}img/gene-graph-bars-on.svg");
        gene_expression.bars('#chart', gene_headers, { data: gene_data, width: 800, height: 400, resizable: true });
        e.preventDefault();
        });

    $('#graph-button-line').click(function(e) {
        $('#chart').empty();
        $('#graph-button-bar  img').attr('src', "{{ STATIC_URL }}img/gene-graph-bars.svg");
        $('#graph-button-line img').attr('src', "{{ STATIC_URL }}img/gene-graph-lines-on.svg");
        gene_expression.lines('#chart', gene_headers, { data: gene_data, width: 800, height: 400, resizable: true });
        e.preventDefault();
        });

    gene_set.renderAddButtonAfter("{{ gene.gene_id }}", 'h1');
  </script>
  <!-- # Implement later for sunburst -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/import.js"></script>
  <script type="text/javascript">
    var sectionDataSetIds = {{ sunburstIds }};
    var sectionDataSetId = -1;
    if (sectionDataSetIds.length > 0) {
      sectionDataSetId = sectionDataSetIds[0];
      $('.sunburst-panel').show();
    }

    function add_allen_images(section_id, image_id, image_section) {
      var panel = $('#allen-section-' + section_id + ' .panel-body');

      panel.append("<div class='media'><a class='pull-left' href='#'>"
                 + "<img src='http://api.brain-map.org/api/v2/section_image_download/" + image_id + "?downsample=5'>"
                 + "</a>"
                 + "<div class='media-body'>"
                 + "<h5 class='media-heading'>Image Id:" + image_id + "</h5>"
                 + "Section Number: " + image_section
                 + "</div>"
                 + "</div>");
    }

    // Allen images (lazy loading)
    {% for section in sectionData.msg %}
      $('#allen-panel-{{ section.id }} .panel-heading h5 a').one("click.lazy-image-load", function(e) {
        {% for image in section.section_images %}
        add_allen_images("{{ section.id }}", "{{ image.id }}", "{{ image.section_id }}");
        {% endfor %}
      });
    {% endfor %}
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sunburst/sunburst.js"></script>

  {% endblock main %}
