{% extends 'base.html' %}

{% block header }
{% endblock header }

{% block content %}

<img src="{{ STATIC_URL }}img/decon_logo.png" style="margin: 0 auto; float:left">

<h2>The Developing Cortical Neuron Transcriptome Resource</h2>

<p>Neuronal development requires a complex choreography of transcriptional decisions to obtain a specific cellular identity. Yet the poor accessibility of individual neuronal classes has made direct measurements of gene expression difficult. We have combined nuclear-antigen targeting FACS sorting with high-resolution massively parallel RNA sequencing to provide the first resource of deep-transcriptomic data in individual sorted neuron populations. We provide here, an interactive space to explore the numerous aspects of these data including spatial and temporal usage of alternative mRNA isoforms and promoters, to a host of mRNA and long noncoding RNA (lncRNA) genes newly implicated in neuronal cell fate specification. This database enables integrated, multidimensional data mining and provides a powerful resource to generate insights into the transcriptional regulation underlying neuronal diversity in the developing cortex.</p>

<p><a style="font-size:1.1em;color:#1111aa;text-decoration:none;font-weight:bold;">DeCoN</a> provides an exploratory interface to deep transcriptional profiling data of three clinically relevant subclasses of mouse cortical projection neurons: </p>
<ul style="font-weight:bold">
	<li>Callosal (<a style="text-decoration:none;font-weight:bold;color:rgb(0, 133, 0)">CPN</a>)</li>
	<li>Subcerebral (<a style="text-decoration:none;font-weight:bold;color:rgb(173, 0, 0)">ScPN</a>)</li>
	<li>Corticothalamic/Subplate neurons (<a style="text-decoration:none;font-weight:bold;color:rgb(0, 0, 173)">CthPN</a>)</li>
</ul>
<p>We have conducted isoform-deconvolution based differential RNA-Sequencing on sorted populations of each neuronal subclass at specified timepoints during corticogenesis:</p>
<ul style="font-weight:bold">
	<li>E15.5</li>
	<li>E16.5</li>
	<li>E18.5</li>
	<li>P1</li>
</ul>

<h3>Quick Tips</h3>
<img src="{{ STATIC_URL }}/img/search.png" style="float:right;"/>
<h4>Search for genes by name or locus</h4>

<p>You can find genes of interest by entering either an official MGI gene symbol or a genomic locus (mm9) into the search bar located at the top right of the window.</p>

<h4>Jump directly to your gene of interest</h4>
<p>Individual gene pages can be accessed through the search utility, or by constructing a URL with the official MGI gene symbol (case-sensitive) as follows:</p>

<blockquote><h5>Base URL:</h5>
<code>http://decon.fas.harvard.edu/pyramidal/gene/</code>

<h5>Gene of Interest:</h5>
<code>Tle4</code>

<h5>Direct Link (Base + Gene)</h5>
<code><a href="http://decon.fas.harvard.edu/pyramidal/gene/Tle4">http://decon.fas.harvard.edu/pyramidal/gene/Tle4</a></blockquote></code>

<h4>Gene sets</h4>
<p>You can quickly explore both the expression levels and relative cell type specificity of multiple genes at once through a similar URL construction method. Simply create a string of MGI gene symbols separated by a "+" as follows:</p>

<blockquote><h5>Geneset Base URL:</h5>
<code>http://decon.fas.harvard.edu/pyramidal/geneset/</code>

<h5>Gene set of Interest:</h5>
<code>Vsx2+Epha1+Epha2+Epha3+Epha4+Epha5+Epha6+Epha7+Epha8+Epha10</code>

<h5>Direct Link (Base + Gene)</h5>
<code><a href="http://decon.fas.harvard.edu/pyramidal/geneset/Vsx2+Epha1+Epha2+Epha3+Epha4+Epha5+Epha6+Epha7+Epha8+Epha10">http://decon.fas.harvard.edu/pyramidal/geneset/Vsx2+Epha1+Epha2+Epha3+Epha4+Epha5+Epha6+Epha7+Epha8+Epha10</a></blockquote></code>

<img src="{{ STATIC_URL }}/img/gene_set_menu.png" style="float:right;padding-left:10px;"/>
<p>Alternatively, you can build a gene set as you explore <a style="font-size:1.1em;color:#1111aa;text-decoration:none;font-weight:bold;">DeCoN</a>. Clicking on the green <a class="gene_set_button add_to_gene_set" style="text-decoration:none;margin-left:0px;">gene set</a> button will add your gene to a temporary gene set which can be viewed by clicking on the GeneSet menu in the top right of your screen and selecting 'View'. To remove a gene click the red <a class="gene_set_button remove_from_gene_set" style="text-decoration:none;margin-left:0px;">added</a> button or select that gene from the drop down gene set menu.</p> 

<h4>Marker Discovery</h4>
<p>The <a href="/pyramidal/markers/">Marker discovery tool</a> allows you to quickly mine through >8000 significantly regulated genes to identify those genes that best match your expression profile of interest. Here you can filter by gene type (lncRNA vs Protein coding gene) or pre-assigned cluster id (see Manuscript) to quickly subset the broad list of dynamically regulated genes to find those most applicable to your research. Individual filters can also be applied to expression estimates for each cell type at each time point, to precisely refine a list of genes with expression profiles of interest.

<h4>Data Access (API)</h4>
<p>Where applicable, we provide a REST-like interface for retrieval of gene-specific supporting data. Future versions will expand on this API to make it a bit more flexible. For now, data are provided in JSON format.</p>

<blockquote>
<h5>Gene-level Expression Data</h5>

<code>/pyramidal/gene/&lt;gene_name&gt;/expression/</code>

<h5>Isoform-level Expression Data</h5>

<code>/pyramidal/gene/&lt;gene_name&gt;/isoform/&lt;isoform_id&gt;/expression/</code>

<h5>Gene-level Differential Analysis Data</h5>

<code>/pyramidal/gene/&lt;gene_name&gt;/hivedata/</code>

<h5>Isoform-level Differential Analysis Data</h5>

<code>/pyramidal/gene/&lt;gene_name&gt;/isoform/&lt;isoform_id&gt;/hivedata/</code>

</blockquote>
{% endblock content %}
