{% extends 'pyramidal/geneBase.html' %}

	{% block header %}
	<style>
        .slice text {
            font-size: 12pt;
            font-family: Arial;
        }   
		.chart rect {
			stroke: white;
		    fill: steelblue;
		}
		 
		.axis {
		    shape-rendering: crispEdges;
		}
		 
		.x.axis line {
		    stroke: black;

		}
		 
		.y.axis line {
		    stroke: black;
		}
		 
		.axis text {
		    font-size: 12px;
		}
	</style>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
	{% endblock header %}

	{% block navleft%}
 	<h5>{{ isoform.isoform_id }}</h5>

 	<h6>Containing Gene</h6>
 	<ul>
 		<li><a href="{% url 'pyramidal.views.geneDetail' isoform.gene_id %}">{{isoform.gene_short_name}}</a></li>
 	<ul>
	{% endblock navleft %}

	{% block main %}
	<!-- genePie -->


	<h1>{{ isoform.isoform_id }}</h1>
		<h3>Locus</h3>
		{{ isoform.locus }}

	<h2>Expression <small>(FPKM)</small></h2>

	<div class="well">
		 <h4>Expression Distribution</h4>
		 <!--<div id="piechart" style="visibility:hidden"></div>-->
		 <div id="barchart"></div>
	</div>
	<table class="table table-hover" style="visibility:hidden">
		<tr>
			{% for sampleName in expression.keys %}
			<th>{{ sampleName }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for key,fpkm in expression.items %}
			<td>{{ fpkm.fpkm }}</td>
			{% endfor %}
		</tr>

	</table>

	<!-- D3.js scripts -->
	<script type="text/javascript">
 
    var w = 300,                        //width
    h = 300,                            //height
    r = 100,                            //radius
    color = d3.scale.category20c();     //builtin range of colors
 
    var data = {{ expressionJson|safe}};
    
    var pievis = d3.select("#piechart")
    	//.selectAll('svg')
        .append("svg:svg")
        .data([data])                   //associate our data with the document
            .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
            .attr("height", h)
        .append("svg:g")                //make a group to hold our pie chart
            .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius
 
    var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
        .outerRadius(r);
 
    var pie = d3.layout.pie()           //this will create arc data for us given a list of values
        .value(function(d) { return d.fpkm; });    //we must tell it out to access the value of each element in our data array
 
    var arcs = pievis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
        .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties) 
        .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
            .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
                .attr("class", "slice");    //allow us to style things in the slices (like text)
 
        arcs.append("svg:path")
                .attr("fill", function(d, i) { return color(i); } ) //set the color for each slice to be chosen from the color function defined above
                .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function
 
        arcs.append("svg:text")                                     //add a label to each slice
                .attr("transform", function(d) {                    //set the label's origin to the center of the arc
                //we have to make sure to set these before calling arc.centroid
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
            })
            .attr("text-anchor", "middle")                          //center the text on it's origin
            .text(function(d, i) { return data[i].sample_name; });        //get the label from our original data array
	</script>
	<script>
	//Bar plot script
var 
	data = {{ expressionJson|safe }},
	samples = ['E15_cpn','E16_cpn','E18_cpn','P1_cpn','E15_subcereb','E16_subcereb','E18_subcereb','P1_subcereb','E15_corticothal','E16_corticothal','E18_corticothal','P1_corticothal'],
	chart,
	bars,
	margin = 100,
	barWidth = 25,
	h = 400,
	width = 750,
	x, y,
	xAxis, yAxis;

chart = d3.select( '#barchart' ).append( 'svg:svg' )
    .attr( 'class', 'chart' )
    .attr( 'width', width )
    .attr( 'height', h )
    .append('g');

d3.select('svg g')
    .attr('transform', 'translate(50, 50)');

x = d3.scale.ordinal()
	.domain(samples)
	.rangeBands([0, width]);

y = d3.scale.linear()
    .domain( [0, d3.max( data, function( d ) { return d.fpkm; } )] )
    .rangeRound( [0, h - margin] );

// Bars
bars = chart.append('g')
    .attr('class', 'bars');

bars.selectAll( 'rect' )
    .data( data )
  .enter().append( 'rect' )
    .attr( 'x', function( d, i ) { return x( d.sample_name ) + width/12; } )
    .attr( 'y', function( d ) { return (h - margin) - y( d.fpkm ) + .5 } )
    .attr( 'width', barWidth )
    .attr( 'height', function( d ) { return y( d.fpkm ) } )
    .append('g');

// Axis
xAxis = d3.svg.axis()
    .scale(x)
    .ticks(20)
    .tickSize(6, 3, 1);

yAxis = d3.svg.axis()
    .scale(d3.scale.linear().domain( [0, d3.max( data, function( d ) { return d.fpkm; } )] ).rangeRound( [h - margin, 0] ))
    .tickSize(6, 3, 1)
    .orient('left');

chart.append('g')
    .attr('class', 'x axis')
    .attr('transform', 'translate(0, ' + (h - margin) + ')')
    .call(xAxis);

chart.append('g')
    .attr('class', 'y axis')
    .attr('transform', 'translate(' + x.range()[0] + ')')
    .call(yAxis);

function type(d) {
  d.value = +d.value; // coerce to number
  return d;
}

	</script>
	{% endblock main %}